* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    border-radius:2px;
    color: blue;
}

input::placeholder {
    color: pink;
}

p {
    color: blue;
}

p::first-line {
    color: red;
}

a {
    color: blue;
    text-decoration: none;
    
}

a::before {
    content: "🤖";
}

a::after {
    content: "🚀";
}