    /* OBRIGATORIO ";"" */

    /* para pegar toda a pagina */
    * {
        background: grey;
    }

    #titulo {
        background: rgb(250, 248, 251);
        color: rgb(0, 17, 9);
        font-size: 5vh;
    }

    #paragrafo {
        color: #aaffaa;
        font-size: 2vh;
        font-weight: bold;
    }

    #botao {
        background: green;
    }

    #outro-botao {
        background: chocolate;
    }

    .texto {
        color: #ffffff;
        font-size: 4vh;
    }

    .botao {
        background: violet;
        color: red;
        font-weight: bold;
    }

    #teste {
        font-size: 1.6vh;
    }

    .pai {
        width: 50vh;
        height: 50vh;
        background: red;
        color: #ffffff;
        font-size: 3.2vh;


    }

    .filho {
        color: #ffffff;
        width: 50%;
        height: 50%;
        background: blue;
        font-size: 0.5em;

    }



    /* .nomeclasse = para chamar a classe no css
        #nomeid = para chamar o id no css
    
        Classe (classes) = A classe seria como um CEP. Ela serve para identificar varios elementos.
        Ou sejam, varios elementos HTML podem usar a mesma classe, e conseguimos estilizalos no CSS
        
        ID (identificador unico) = Já o ID seria como seu CPF ou RG. Ele serve para identificar um elemento
        Ou seja, voce so pode usar um ID especifico uma unica vez na sua pagina HTML
        */