* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;

    justify-content: center;
    align-content: center;
}

.space {
    color: white;
    font-size: 30px;
}

.one {
    background-color: #333453;
    display: grid;
    justify-items: center;
    align-items: center;
}

.two {
    background-color: #259b11;
    justify-self: center;
    align-self: center;
}

.three {
    background-color: #800534;
}

.four {
    background-color: #112a9b;
}

.five {
    background-color: #96119b;
}

.six {
    background-color: cadetblue;
}

.seven {
    background-color: chocolate;
}

.eight {
    background-color: rgba(255, 255, 0, 0.468);
}

.nine{ 
    background-color: red;
}