* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 20px;
}

.space {
    color: white;
    font-size: 30px;
}

.one {
    background-color: #333453;
}

.two {
    background-color: #259b11;
}

.three {
    background-color: #800534;
}

.four {
    background-color: #112a9b;
}

.five {
    background-color: #96119b;
}

.six {
    background-color: #065c5a;
}

.seven {
    background-color: rgb(196, 149, 192);
}

.eight {
    background-color: brown;
}

.nine {
    background-color: rgb(224, 215, 53);
}