* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.button-sign {
    width: 124px;
    height: 51px;
    font-size: 16px;
    font-weight: 500;
    background: #6FBF44;
    color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #4CB538;
    cursor: pointer;
    transition: 0.5s;
    line-height: 24px;
    letter-spacing: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25));
}

.button-sign:hover {
    background-color: #077f19;
    color: #000000;
}

img {
    width: 533.834px;
    height: 466.9px;
    margin: 163px 0 0 121px;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25));
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.569px;
    margin-bottom: 47px;
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

.button-learn {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.button-learn:hover {
    color: #084e08;

}